*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    background: #eee;
}

.main{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 3.5em;
}

.left-main{
    display: flex;
    flex-wrap: wrap;
    height: 20em;
    width: 25em;
}

.right-main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 25em;
    width: 20em;
    padding-left: 2em;
}

.avatar{
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding-left: 2.5em;
}

.descript{
    color: lightslategray;
}
.intro{
    color: lightcoral;
}

.icons{
    display: flex;
    gap: 1em;
}

.icons .fa{
    width: 50px;
    height: 50px;
    padding: 15px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 20px;
}

.icons .fa:hover{
    background: #000 ;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}